@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {font-family: 'Pretendard-Regular';}
body, html {overflow-x: hidden;}
* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
html {font-size: 62.5%}
a {text-decoration: none; color: #111; display: block; font-family: 'Pretendard-Regular';}
img {width: 100%; height: 100%; object-fit: cover;}
.wrap {width: 100%;}
.center {width: 1200px; margin: 0 auto;}
h1 {font-size: 4rem; font-weight: normal;}
.title {width: 100%; height: 80px; border-bottom: 1px solid #999; display: flex; justify-content: space-between; align-items: center;}
.title a {height: 100%; height: 20px; display: flex; flex-flow: row nowrap; align-items: center; font-size: 1.8rem;}
.title a i {width: 20px; height: 20px; margin-left: 5px; padding-bottom: 2px;}
h2 {font-size: 2rem;}
p {font-size: 1.3rem;}
/* 모든 사진은 마우스 오버했을 때 사진이 커지고, 마우스 아웃하면 사진을 원래 크기로 되돌림  */
.photo {overflow: hidden;} /* overflow: hidden; = 마우스오버 할 때, .photo영역밖으로 .img가 벗어나면 잘라냄 */
.photo img {scale: 1; transition: scale 0.5s;}
.photo:hover img {scale: 1.1;}

/* header */
header {width: 100%; height: 150px; display: flex; flex-flow: column nowrap; justify-content: space-around; align-items: center; z-index: 100; background-color: white; transition: top 0.5s; position: fixed; top: 0%; left: 0%;}
header .logo {width: 230px; margin: 0 auto;}
header .navi-area {width: 100%; height: 40px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; position: relative;} 
header .navi-area .menu-icon {display: flex; align-items: center;}
header .navi-area .menu-icon .menu-btn {width: 28px; margin-right: 24px;}
header .navi-area .menu-icon .logo2 {width: 170px; opacity: 0; transition: top 0.5s;}
header .navi-area nav {position: absolute; left: 50%; transform: translateX(-50%);}
header .navi-area nav > ul {display: flex;}
header .navi-area nav > ul > li {margin: 0 20px;}
header .navi-area nav ul li a {font-size: 1.7rem; font-weight: bold;}
header .navi-area nav ul li a:hover {color:#B28A3C}
header .navi-area .member ul {display: flex; align-items: center;}
header .navi-area .member ul li {margin-left: 20px;}
header .navi-area .member ul li a {font-size: 1.4rem;}
header .navi-area .member ul li:last-child {width: 30px; height: 30px; position: relative;}
header .navi-area .member ul li:last-child span {position: absolute;}
header .navi-area .member ul li:last-child .search-icon {display: block;}
header .navi-area .member ul li:last-child .close-icon {display: none;}

/* 화면이 스크롤 되면 header의 높이가 작아지고 로고도 작아지고 header의 위치는 고정됨 - header에 fixed 클래스를 추가함 */
header.sticky .navi-area .logo2 {opacity: 1;}
header.sticky {top: -80px;}

/* .sitemap영역(좌측 메뉴) */
.sitemap {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 210;}
.sitemap .sitemap-in {width: 480px; height: 100%; position: relative; background-color: white; padding: 24px; padding-right: 10px;}
.sitemap .sitemap-in .close-btn {width: 30px;}
.sitemap .sitemap-in .sitebox {width: 80%; height: calc(100% - 30px); margin-top: 20px; float: right; overflow: auto; padding-right: 20%;}
.sitemap .sitemap-in .sitebox .memberbox ul {display: flex; margin: 30px 0;}
.sitemap .sitemap-in .sitebox .memberbox ul li {margin-right: 20px;}
.sitemap .sitemap-in .sitebox .memberbox ul li a {font-size: 1.5rem;}
.sitemap .sitemap-in .sitebox .menu1 {padding-bottom: 30px; margin-bottom: 50px; border-bottom: 1px solid #ddd;}
.sitemap .sitemap-in .sitebox .menu1 ul li a {font-size: 2.5rem; font-weight: bold; margin-bottom: 24px;}
.sitemap .sitemap-in .sitebox .menu2 ul li a {font-size:1.6rem; padding: 10px 0;}
.sitemap .sitemap-in .sitebox .menu2 > ul > li > a {font-weight: bold; margin-top: 30px; margin-bottom: 10px; display: flex; justify-content: space-between;}
.sitemap .sitemap-in .sitebox .menu2 > ul > li > a p {font-size: 2.4rem;}
.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i {position: relative; width: 20px; height: 20px; display: block;}
.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i span {width: 2px; height: 20px; background-color: #aaa; position: absolute; left:50%;}
.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i span.bar1 {transform: rotateZ(90deg);}
.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i span.bar2 {display: none;}
/* .sitemap영역의 .sns 수정하기 */
.sitemap .sitemap-in .sitebox .sns ul {display: flex; flex-flow: row wrap; margin: 20% 0;}
.sitemap .sitemap-in .sitebox .sns ul li {width: 40px; height: 40px; margin-right: 25px; margin-bottom: 20px; background-color: #eeeeee; border-radius: 20px;}
.sitemap .sitemap-in .sitebox .sns ul li a {width: 40px; height: 40px; position: relative; border-radius: 20px;}
.sitemap .sitemap-in .sitebox .sns ul li a svg {width: 30px; height: 30px; position: absolute;  left: 50%; top: 50%; transform: translate(-50%, -50%);}
.sitemap .sitemap-in .sitebox .sns ul li:nth-child(2) a svg,
.sitemap .sitemap-in .sitebox .sns ul li:nth-child(3) a svg {width: 25px;}
.sitemap .sitemap-in .sitebox .sns ul li:nth-child(4) a svg {width: 40px; height: 40px;}
.sitemap .sitemap-in .sitebox .sns ul li:last-child a svg {width: 20px; height: 20px;}
/* .sitemap영역의 .sitebox 스크롤바 수정하기 */
.sitemap .sitemap-in .sitebox::-webkit-scrollbar {position: relative; left: -5px; width: 4px; height: 4px; border-radius: 2px;}
.sitemap .sitemap-in .sitebox::-webkit-scrollbar-thumb {background-color: #B28A3C; border-radius: 2px;}
.sitemap .sitemap-in .sitebox::-webkit-scrollbar-track {background-color: #dbdbdb; border-radius: 2px;}
.sitemap .sitemap-bg {position: absolute; right: 0; top: 0; background-color: rgba(0,0,0,0.7); width: calc(100% - 480px); height: 100%;}

/* 검색 영역 */
.search-area {display: none; position: fixed; left: 0; top: 150px; z-index: 200; width: 100%; height: 100%;}
.search-area .search-in {position: absolute; border-top: 1px solid #ddd; width: 100%; height: 220px; display: flex; align-items: center; justify-content: center; background-color: white;}
.search-area .search-in .input-area {width: 790px; height: 60px; border: 1px solid #ddd; padding: 0 20px; display: flex; justify-content: space-between; align-items: center;}
.search-area .search-in .input-area input {border:none; padding: 5px; width: 96%; font-size: 1.5rem; font-weight: bold; color: #666;}
/* input[type=search] 입력란의 X버튼 커스텀 */
.search-area .search-in .input-area input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none; /* 원본숨김 */
    width: 22px; height: 22px; background: url("../img/close.svg") center center no-repeat; cursor: pointer;
}
.search-area .search-in .input-area input:focus {outline: none;} /* 입력란을 클릭했을 때 테두리 없음 */
.search-area .search-in .input-area button {cursor: pointer; width: 24px; border: none; background-color: transparent; margin-left: 6px; padding-top: 3px;}
.search-area .search-bg {position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); bottom: 0; left: 0;}
.search-area.sticky {top: 70px; height: calc(100%-70px);}

/* 메인 슬라이드(swiper) */
.s1 .main {margin-top: 150px;}
.s1 .main .swiper {width: 100%;}
.s1 .main .swiper .swiper-slide {width: 100%; height: 690px; position: relative;}
.s1 .main .swiper .swiper-slide div {position: absolute; width: 100%; height: 100%;}
/* 메인 슬라이드(swiper)의 .img-box */
.s1 .main .swiper .swiper-slide .img-box {position: relative; transform: scale(1, 1); transition: all 5s;}
.s1 .main .swiper .swiper-slide-active .img-box {transform: scale(1.05, 1.05);}
.s1 .main .swiper .swiper-slide .img-box p {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2));}
/* 메인 슬라이드(swiper)의 .txt-box */
.s1 .main .swiper .swiper-slide .txt-box {height: auto; padding: 30px; color: white; text-align: center; bottom: 55px; left: 0;}
.s1 .main .swiper .swiper-slide .txt-box h2 {font-size: 4rem; opacity: 0; transition: opacity 1s; transition-delay: 0.5s; margin-bottom: 20px;}
.s1 .main .swiper .swiper-slide .txt-box p {font-size: 1.6rem; opacity: 0; transition: opacity 1s; transition-delay: 1s;}
.s1 .main .swiper .swiper-slide-active .txt-box h2 {opacity: 1;}
.s1 .main .swiper .swiper-slide-active .txt-box p {opacity: 1;}
/* 메인 슬라이드(swiper)의 button-next, prev */
.s1 .main .swiper .swiper-button-next {margin-right: 80px; opacity: 0.6;}
.s1 .main .swiper .swiper-button-next:after {content: ""; width: 30px; height: 60px; background: url(../img/ico_arrow02.svg) center center no-repeat;}
.s1 .main .swiper .swiper-button-prev {margin-left: 80px; opacity: 0.6;}
.s1 .main .swiper .swiper-button-prev:after {content: ""; width: 30px; height: 60px; background: url(../img/ico_arrow02.svg) center center no-repeat; transform: rotateY(180deg);}
/* 메인 슬라이드(swiper)의 pagination */
.s1 .main .swiper .swiper-pagination {bottom: 40px;}
.s1 .main .swiper .swiper-pagination-bullets .swiper-pagination-bullet {position: relative; width: 40px; height: 2px; border-radius: 1px; background-color: white}
.s1 .main .swiper .swiper-pagination-bullets .swiper-pagination-bullet i {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.3);}
.s1 .main .swiper .swiper-pagination-bullets .swiper-pagination-bullet b {position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: rgba(255,255,255,1);}
.s1 .main .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {background-color: transparent;}
.s1 .main .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active b {width:100%; animation-name: countingBar; animation-duration: 5s; animation-timing-function: ease-in; animation-iteration-count: 1; animation-direction: alternate; animation-fill-mode: forwards;}
@keyframes countingBar { 
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* 조류 소개 */
.s2 {margin-top: 100px;}
.container {display: flex; justify-content: space-between;}
.s2 .container > div,
.s5 .container > div {width: 588px; padding-top: 40px;}
.container .left-con {height: 884px;}
.container .left-con .main {width: 100%; height: 780px;}
.container .right-con {height: 1920px; display: flex; flex-flow: column wrap; align-content: space-between;}
.container .right-con .photo-box {margin-bottom: 35px;}
.s2 h2 {margin: 20px 0;}
.container .right-con .photo {width: 282px; margin-bottom: 10px;}
.container .right-con .short {height: 300px;}
.container .right-con .long {height: 400px;}

.s3 {background-color: #f5f6f8; margin-top: 100px; padding: 80px 0 150px;}
.s3 .title {border-bottom: none; display: block;}
.s3 .title h1 {margin-bottom: 10px;}
.s3 h2 {margin: 20px 0;}

.container .swiper {width: 100%; overflow: visible;} /* overflow: visible; = 슬라이드 밖의 영역을 보이게 한다. */ 
.container .swiper .swiper-slide {width: 384px;}
.container .swiper .swiper-scrollbar {bottom: -60px; height: 2px; background-color: white; --swiper-scrollbar-drag-bg-color: #111;}

.s4 {margin-top: 190px;}
.s4 .container .photo-box {width: 282px;}
.s4 .container .photo-box .photo img {height: 375px;}
.s4 .container .photo-box h2 {margin: 20px 0;}

.s5 {margin-top: 190px;}
.s5 h2 {margin: 20px 0;}
.s5 .container .right-con {flex-flow: column nowrap;}
.s5 .container .photo-box .middle {width: 100%; height: 368px;}

.s6 {margin: 220px 0 110px;}
.s6 .container .photo-box {width: 384px;}
.s6 .container .photo-box .photo img {height: 400px;}
.s6 .container .photo-box h2 {margin: 20px 0;}

.s7 {margin: 190px 0;}
.s7 .container {width: 100%; height: 140px; background-color: #f5f6f8; display: flex; justify-content: space-around; align-items: center;}
.s7 .container .logo-icon {width: 300px;}
.s7 .container p {font-size: 1.8rem;}
.s7 .container a {display: flex; align-items: center; font-size: 1.6rem; background-color: white; padding: 15px 18px;}
.s7 .container a i {height: 20px; margin-left: 5px;}

footer {width: 100%; margin-top: 100px;}
footer div .center {display: flex; justify-content: space-between; height: 100%; align-items: center;}

footer .footer-top {width: 100%; height: 65px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
footer .footer-top div ul {display: flex;}
footer .footer-top .info ul li {margin-right: 30px;}
footer .footer-top .info ul li a {font-size: 1.6rem;}
footer .footer-top .info ul li:nth-child(4) {font-weight: bold;}
footer .footer-top .sns2 ul {display: flex; justify-content: center; align-items: center;}
footer .footer-top .sns2 ul li {margin-left: 20px; width: 26px; height: 26px;}
footer .footer-top .sns2 ul li:first-child {width: 28px; height: 28px; padding-bottom: 31px;}
footer .footer-top .sns2 ul li:nth-child(2) {padding-bottom: 27px;}
footer .footer-top .sns2 ul li:nth-child(3) {margin-left: 26px;}
footer .footer-top .sns2 ul li:nth-child(4) {width: 36px; height: 36px; padding-top: 1px;}
footer .footer-top .sns2 ul li:last-child {width: 22px; height: 22px;}

footer .footer-bottom {padding-bottom: 60px;}
footer .footer-bottom .footer-logo {width: 300px;}
footer .footer-bottom address {font-size: 1.5rem; color:#666; font-style: normal; line-height: 24px; padding-top: 60px;}
footer .footer-bottom address span {font-size: 1.2rem; color: #ccc;}
footer .footer-bottom address a {display: inline; color:#666;}
footer .footer-bottom address p {font-size: 2rem; color: #111;}
footer .footer-bottom .family {width: 160px; position: relative; z-index: 300;}
footer .footer-bottom .family > a {display: flex; justify-content: space-between; background-color: white; border: 1px solid #666; padding: 10px 15px; position: relative; z-index: 301;}
footer .footer-bottom .family > a p {font-size: 1.5rem;}
footer .footer-bottom .family > a span {width: 20px; height: 20px; transform: rotateX(180deg);}
footer .footer-bottom .family .sub {position: absolute; bottom: 42px; width: 100%; overflow: hidden; z-index: 300; display: none;}
footer .footer-bottom .family .sub a {font-size: 1.5rem; padding: 10px 16px; border: 1px solid #999; border-bottom: none; background-color: white;}
footer .footer-bottom .family .sub a:hover {background-color: #efefef;}

.top {width: 50px; height: 50px; background-color: #111; line-height: 50px; position: fixed; bottom: 30px; right: 30px; z-index: 400; border-radius: 6px;}
.top:hover {background-color: #B28A3C;}
.top a {color: white; font-size: 1.4rem; text-align: center;}
